<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT navigation ANY>
<!ATTLIST navigation id ID #REQUIRED>
<!ELEMENT contactUs ANY>
<!ATTLIST contactUs id ID #REQUIRED>
<!ELEMENT roomType ANY>
<!ATTLIST roomType id ID #REQUIRED>
<!ELEMENT accommodation ANY>
<!ATTLIST accommodation id ID #REQUIRED>
<!ELEMENT roomFeature ANY>
<!ATTLIST roomFeature id ID #REQUIRED>
]>
<root id="-1">
  <home id="1064" key="c782ec39-9e48-4d97-8ca6-e14a0d2b906f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-02-14T12:30:35" updateDate="2018-02-17T10:00:42" nodeName="Home" urlName="home" path="-1,1064" isDoc="" nodeType="1063" creatorName="Silveroaks" writerName="Silveroaks" writerID="0" template="1062" nodeTypeAlias="home" isPublished="true">
    <pageHidden>0</pageHidden>
    <metaDescription><![CDATA[This is the silveroaks meta description]]></metaDescription>
    <pageTitle><![CDATA[Home]]></pageTitle>
    <shortDescription><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue ex ac velit molestie, at ornare justo molestie. Phasellus sed.]]></shortDescription>
    <ctaButton2><![CDATA[Button 2]]></ctaButton2>
    <motelName><![CDATA[The Motel]]></motelName>
    <ctaButton1><![CDATA[Button 1]]></ctaButton1>
    <aboutUsDescription><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae ultricies lectus. Pellentesque ac nulla tempus, elementum velit ac, volutpat purus. Quisque cursus molestie augue a fermentum. Phasellus tincidunt convallis ex eu sagittis. Aliquam porta consectetur est in porta. Sed massa elit, dictum non venenatis eget, pulvinar ac libero. Donec hendrerit nec lectus ut condimentum. Donec libero ligula, fringilla id risus eu, mollis pellentesque purus. Aliquam malesuada odio sed rhoncus feugiat. Donec porttitor pharetra eleifend. Etiam vel ex rhoncus, pellentesque est eu, tincidunt lorem.]]></aboutUsDescription>
    <aboutUsHeader><![CDATA[This is Us]]></aboutUsHeader>
    <aboutUsCtaButton><![CDATA[Mga kwarto]]></aboutUsCtaButton>
    <amenity1Header><![CDATA[Breakfast]]></amenity1Header>
    <amenity2Header><![CDATA[Transport]]></amenity2Header>
    <amenity4><![CDATA[fdsa fdsa fdsa fdsa]]></amenity4>
    <amenity4Header><![CDATA[Free Parking]]></amenity4Header>
    <amenity3><![CDATA[asdf asdf asdf asdf ]]></amenity3>
    <amenity1><![CDATA[asdf asdf asdf ]]></amenity1>
    <mainAmenitiesHeader><![CDATA[Our Amenities]]></mainAmenitiesHeader>
    <amenity2><![CDATA[fdsa fdsa fdsa fdsa]]></amenity2>
    <amenity3Header><![CDATA[Free Wifi]]></amenity3Header>
    <contactDataPhoneNumber><![CDATA[123-1234-1234]]></contactDataPhoneNumber>
    <contactDataHeader><![CDATA[Let's get in touch]]></contactDataHeader>
    <contactDataDescription><![CDATA[blah blah blah blah blah]]></contactDataDescription>
    <contactUs id="1078" key="094c4821-ff5a-4f3d-a4e1-1886a428e6f9" parentID="1064" level="2" creatorID="0" sortOrder="1" createDate="2018-02-17T08:28:09" updateDate="2018-02-17T18:04:11" nodeName="Contact Us" urlName="contact-us" path="-1,1064,1078" isDoc="" nodeType="1076" creatorName="Silveroaks" writerName="Silveroaks" writerID="0" template="1075" nodeTypeAlias="contactUs" isPublished="true">
      <pageVisible>1</pageVisible>
      <metaDescription><![CDATA[asdfasdfasdf]]></metaDescription>
      <pageTitle><![CDATA[Contact Us]]></pageTitle>
      <headerText><![CDATA[Let's get in touch!]]></headerText>
    </contactUs>
    <accommodation id="1086" key="015d63f2-d1fc-423f-a61b-90e50f62459a" parentID="1064" level="2" creatorID="0" sortOrder="2" createDate="2018-02-17T11:37:09" updateDate="2018-02-17T17:55:08" nodeName="Accommodation" urlName="accommodation" path="-1,1064,1086" isDoc="" nodeType="1085" creatorName="Silveroaks" writerName="Silveroaks" writerID="0" template="1084" nodeTypeAlias="accommodation" isPublished="true">
      <pageVisible>1</pageVisible>
      <metaDescription><![CDATA[hahaha hahah haha]]></metaDescription>
      <pageTitle><![CDATA[Accomodation]]></pageTitle>
      <headerText><![CDATA[Our Rooms]]></headerText>
      <roomType id="1092" key="80302629-b285-4183-9cb1-0c940d630ee9" parentID="1086" level="3" creatorID="0" sortOrder="0" createDate="2018-02-17T16:04:49" updateDate="2018-02-17T18:40:37" nodeName="Room 1" urlName="room-1" path="-1,1064,1086,1092" isDoc="" nodeType="1080" creatorName="Silveroaks" writerName="Silveroaks" writerID="0" template="1079" nodeTypeAlias="roomType" isPublished="true">
        <pageVisible>0</pageVisible>
        <metaDescription><![CDATA[Room 1 meta description]]></metaDescription>
        <pageTitle><![CDATA[Room 1 ]]></pageTitle>
        <headerText><![CDATA[Room Room]]></headerText>
        <thumbnailPic><![CDATA[umb://media/f3c952b830e44ae2bd9cf83f744d4458]]></thumbnailPic>
        <roomPictures><![CDATA[umb://media/f3c952b830e44ae2bd9cf83f744d4458,umb://media/3208cf1fbb3a4ae4aa2cb6dbbe896d1d,umb://media/a2b5f503afee42b7ab669ca9e7928a3a,umb://media/9b41f23843e548fe9010b5fdfebb4025]]></roomPictures>
        <roomFeature id="1098" key="13574575-3df6-4f93-b786-765fb84fee77" parentID="1092" level="4" creatorID="0" sortOrder="3" createDate="2018-02-17T16:20:17" updateDate="2018-02-17T16:20:19" nodeName="Free Breakfast" urlName="free-breakfast" path="-1,1064,1086,1092,1098" isDoc="" nodeType="1088" creatorName="Silveroaks" writerName="Silveroaks" writerID="0" template="0" nodeTypeAlias="roomFeature" isPublished="true">
          <pageVisible>0</pageVisible>
          <featureName><![CDATA[Free Breakfast Free breakfast]]></featureName>
        </roomFeature>
        <roomFeature id="1106" key="76c97b04-a246-4aef-917f-90b700d62349" parentID="1092" level="4" creatorID="0" sortOrder="4" createDate="2018-02-17T17:56:01" updateDate="2018-02-17T17:56:01" nodeName="Free whatever" urlName="free-whatever" path="-1,1064,1086,1092,1106" isDoc="" nodeType="1088" creatorName="Silveroaks" writerName="Silveroaks" writerID="0" template="0" nodeTypeAlias="roomFeature" isPublished="true">
          <pageVisible>0</pageVisible>
          <featureName><![CDATA[Free whateves]]></featureName>
        </roomFeature>
      </roomType>
      <roomType id="1100" key="ffb7e49c-37dc-40aa-a105-18f17ace5f3b" parentID="1086" level="3" creatorID="0" sortOrder="1" createDate="2018-02-17T16:22:18" updateDate="2018-02-17T18:40:27" nodeName="Room 2" urlName="room-2" path="-1,1064,1086,1100" isDoc="" nodeType="1080" creatorName="Silveroaks" writerName="Silveroaks" writerID="0" template="1079" nodeTypeAlias="roomType" isPublished="true">
        <pageVisible>0</pageVisible>
        <headerText><![CDATA[Room 2 Room 2]]></headerText>
        <thumbnailPic><![CDATA[umb://media/f3c952b830e44ae2bd9cf83f744d4458]]></thumbnailPic>
        <roomPictures><![CDATA[umb://media/f3c952b830e44ae2bd9cf83f744d4458,umb://media/3208cf1fbb3a4ae4aa2cb6dbbe896d1d,umb://media/a2b5f503afee42b7ab669ca9e7928a3a,umb://media/9b41f23843e548fe9010b5fdfebb4025]]></roomPictures>
        <roomFeature id="1101" key="5df1af2e-08d8-4c88-93bc-b72ddaf5260b" parentID="1100" level="4" creatorID="0" sortOrder="0" createDate="2018-02-17T16:23:10" updateDate="2018-02-17T16:23:11" nodeName="Free transport" urlName="free-transport" path="-1,1064,1086,1100,1101" isDoc="" nodeType="1088" creatorName="Silveroaks" writerName="Silveroaks" writerID="0" template="0" nodeTypeAlias="roomFeature" isPublished="true">
          <pageVisible>0</pageVisible>
          <featureName><![CDATA[transport transport transport]]></featureName>
        </roomFeature>
        <roomFeature id="1102" key="3cf4f4db-6e2a-4c2b-ae72-e4f17a679c44" parentID="1100" level="4" creatorID="0" sortOrder="1" createDate="2018-02-17T16:23:27" updateDate="2018-02-17T16:23:33" nodeName="Free housing" urlName="free-housing" path="-1,1064,1086,1100,1102" isDoc="" nodeType="1088" creatorName="Silveroaks" writerName="Silveroaks" writerID="0" template="0" nodeTypeAlias="roomFeature" isPublished="true">
          <pageVisible>0</pageVisible>
          <featureName><![CDATA[housing housing housing]]></featureName>
        </roomFeature>
      </roomType>
    </accommodation>
  </home>
</root>